/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require 'framework_and_overrides'
 *= require 'business-casual'
 *= require_self
 */

.wrestler-options-group {
  margin-top: 15px;
}

.avatar {
  height: 100px;
  width: 150px;
}

.avatar_cell_babyface {
  padding: 20px;
  border-top: solid;
  border-bottom: solid;
  border-left: solid;
  border-color: red;
}

.avatar_cell_heel {
  padding: 20px;
  border-top: solid;
  border-bottom: solid;
  border-right: solid;
  border-color: red;
}

.roster_image {
  height: 286px;
  width: 381px;
}

.vs {
  text-align: center;
  border-top: solid;
  border-bottom: solid;
  text-emphasis: black;
  color: red;
}

.wrestler_name_babyface {
  text-align: left;
  border-top: solid;
  border-bottom: solid;
  border-color: red;
}

.wrestler_name_heel {
  text-align: right;
  border-top: solid;
  border-bottom: solid;
  border-color: red;
}

.nav_item {
  align-self: center;
  margin-top: 25px;
}

.error_row {
  border: solid;
  color: red;
  background-color: gray;
}
